@using Library_project.ViewModels.Student
@model Library_project.ViewModels.Student.EditStudentVM;
@{
    ViewBag.Title = "Student Settings";
}

<div class="account-container">
    <div class="account-controls-panel">
        <div class="library-logo">
            Library Logo
        </div>
        <div class="user-info">
            <div class="user-pfp-container">
                <img src="~/images/pfp_male.svg" id="user-pfp-img" />
            </div>
            <h1 class="display-1">@(TempData.Peek("fullName"))</h1>
        </div>
        <a class="account-nav active-l" asp-area="" asp-controller="Home" asp-action="UserDashboard">
            <i class="fa-solid fa-chart-bar"></i>
            <h2 class="display-2">Dashboard</h2>
        </a>
        <a class="account-nav" asp-area="" asp-controller="Student" asp-action="StudentCheckouts">
            <i class="fa-solid fa-list-check"></i>
            <h2 class="display-2">My Checkouts</h2>
        </a>
         <a class="account-nav" asp-area="" asp-controller="Hold" asp-action="userHolds">
            <i class="fa-solid fa-list-check"></i>
            <h2 class="display-2">My Holds</h2>
        </a>
        <a class="account-nav" asp-area="" asp-controller="Review" asp-action="CreateReview">
            <i class="fa-solid fa-star-half-stroke"></i>
            <h2 class="display-2">Create a review</h2>
        </a>
        <a class="account-nav" asp-area="" asp-controller="Student" asp-action="StudentBalance">
            <i class="fa-solid fa-money-bill"></i>
            <h2 class="display-2">Balance</h2>
        </a>
        <a class="account-nav" asp-controller="DashboardSettings" asp-action="Student" asp-route-id="@TempData.Peek("libraryCard")">
            <i class="fa-solid fa-gear"></i>
            <h2 class="display-2">Settings</h2>
        </a>
        <a class="account-nav" id="account-signout-btn" asp-controller="Account" asp-action="Logout">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
            <h2 class="display-2">Sign out</h2>
        </a>
    </div>

    <div class="user-combined-panel">
        <div class="user-entry-container">
            <div class="media-form-header">
                <h1 class="display-1">Change your account information</h1>
            </div>
            <form class="user-entry-form" asp-controller="DashboardSettings" asp-action="UpdateStudent" method="post">
                <div class="input-wrapper-horizontal">
                    <label asp-for="fname">First Name</label>
                    <input asp-for="fname" value="@Model.fname">
                    <span asp-validation-for="fname" class="text-danger"></span>
                </div>
                <div class="input-wrapper-horizontal">
                    <label asp-for="mname">Middle Name</label>
                    <input asp-for="mname" value="@Model.mname">
                    <span asp-validation-for="mname" class="text-danger"></span>
                </div>
                <div class="input-wrapper-horizontal">
                    <label asp-for="lname">Last Name</label>
                    <input asp-for="lname" value="@Model.lname">
                    <span asp-validation-for="lname" class="text-danger"></span>
                </div>
                <div class="input-wrapper-horizontal">
                    <label asp-for="age">Age</label>
                    <input asp-for="age" value="@Model.age">
                    <span asp-validation-for="age" class="text-danger"></span>
                </div>
                <div class="input-wrapper-horizontal">
                    <label asp-for="email">Email</label>
                    <input asp-for="email" value="@Model.email">
                    <span asp-validation-for="email" class="text-danger"></span>

                </div>
                <div class="input-wrapper-horizontal">
                    <label asp-for="password">Password</label>
                    <input type="password" asp-for="password" value="@Model.password">
                    <span asp-validation-for="password" class="text-danger"></span>

                </div>
                <div class="input-wrapper-horizontal">
                    <label asp-for="confirmpassword">Confirm password</label>
                    <input type="password" asp-for="confirmpassword" value="@Model.confirmpassword">
                    <span asp-validation-for="confirmpassword" class="text-danger"></span>
                </div>
                <div class="input-wrapper-horizontal">
                    <label asp-for="homeaddress">Home Address</label>
                    <input asp-for="homeaddress" value="@Model.homeaddress">
                    <span asp-validation-for="homeaddress" class="text-danger"></span>

                </div>
                <div class="input-wrapper-horizontal">
                    <label asp-for="phonenumber">Phone Number</label>
                    <input asp-for="phonenumber" placeholder="No spaces/hyphens" value="@Model.phonenumber">
                    <span asp-validation-for="phonenumber" class="text-danger"></span>
                </div>
                <div class="user-form-controls">
                    <input asp-for="library_card_number" type="hidden" class="media-form-serialnumber" value="@Model.library_card_number" />
                    <div class="user-edit-form-controls">
                        <button type="reset" class="media-cancel-btn" id="employee-cancel-form">Cancel</button>
                        <button type="submit" class="media-save-btn" id="employee-save-form">Save</button>
                    </div>
                </div>
            </form>

        </div>
    </div>

</div>
<script>
    //Cancel
    $('.user-entry-form').on('click', '.media-cancel-btn', function () {
        window.location.href = "/Home/UserDashboard";
    });
</script>