@using Library_project.ViewModels.Camera
@model CameraListViewModel

@if (Model is null || Model.NumAvailable == 0)
{
    <div class="empty-data-container">
        <img src="~/images/empty-data.svg" />
        <h1 clas="display-1">No cameras available. Check again later.</h1>
    </div>
}
else
{
    @foreach (var items in Model.Cameras)
    {
        @if (items.availability == true)
        {
            var base64 = Convert.ToBase64String(items.imageBytes);
            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
            <div class="media-display-item">
                <img src="@imgSrc" data-id="@items.cameraid" class="media-item-img">
                <div class="media-display-text">
                    <h1 class="display-1">@items.brand</h1>
                    <h2 class="display-2">Item ID: @items.cameraid</h2>
                    <h2 class="display-2">Serial No: @items.serialnumber</h2>
                    <h2 class="display-2">Megapixels: @items.megapixels</h2>
                    <h2 class="display-2 description-placeholder">Click to show description</h2>
                    <h2 class="display-2 media-description hide">@(items.description == "" ? "No description provided" : items.description)</h2>
                    <div class="display-3 media-checkout-btn">
                        <div class="underline-animation">
                            <a class="checkout-btn-txt">Checkout<i class="fa-solid fa-arrow-right"></i></a>
                        </div>
                        <a class="checkout-success-text hide">Checkout successful</a>
                        <a class="checkout-fail-text hide">Checkout failed</a>
                    </div>
                </div>
            </div>
        }
    }
}



