@using Library_project.ViewModels
@model List<camera>

<div>
    @foreach (var items in Model)
    {
        <div class="media-display-item">
            <h1>@items.brand</h1>
            <h1>@items.serialnumber</h1>
            <h1>@items.description</h1>
            <h1>@items.lumens</h1>
            <h1>@items.availability</h1>
        </div>
    }
</div>
