@using Library_project.Data.Enums
@using Library_project.ViewModels.Movie
@model MovieListViewModel

@if (Model is null || Model.NumAvailable == 0)
{
    <div class="empty-data-container">
        <img src="~/images/empty-data.svg" />
        <h1 clas="display-1">No movies available. Check again later.</h1>
    </div>
}
else
{
    @foreach (var items in Model.Movies)
    {
        @if (items.availability == true)
        {
            <div class="media-display-item">
                <img data-id="@items.movieid" class="media-item-img">
                <div class="media-display-text">
                    <h1 class="display-1">@items.title</h1>
                    <h2 class="display-2">Rating: @items.rating</h2>
                    <h2 class="display-2">Director: @items.director</h2>
                    <h2 class="display-2">Genre: @((genres)items.genres)</h2>
                    <h2 class="display-2">Length(min): @items.length</h2>
                    <h2 class="display-2">Release date: @items.releasedate</h2>
                    <h2 class="display-2 description-placeholder">Click to show description</h2>
                    <h2 class="display-2 media-description hide">@(items.description == "" ? "No description provided" : items.description)</h2>
                    <div class="display-3 media-checkout-btn">
                        <div class="underline-animation">
                            <a class="checkout-btn-txt">Checkout<i class="fa-solid fa-arrow-right"></i></a>
                        </div>
                        <a class="checkout-success-text hide">Checkout successful</a>
                        <a class="checkout-fail-text hide">Checkout failed</a>
                    </div>
                </div>
            </div>
        }
    }
}



