@using Library_project.Data.Enums
@using Library_project.ViewModels.Historian
@model CreateHistorianViewModel
@{
    ViewBag.Title = "CreateLandingPage";
}
<
<p>@Model.fname             </p>


<p>@Model.mname            </p>

<p>@Model.lname          </p>

<p>@Model.expertise         </p>
<p>@Model.education         </p>
<p>@Model.age.ToString()         </p>




