@using Library_project.Data.Enums
@using Library_project.ViewModels.Movie

@model MovieListViewModel;
@{
    ViewBag.Title = "Index";
}
@{
    <div class="media-display-container">
        @foreach(var item in Model.allMovies)
        {
            <div class="media-display-card">
                <h1>@item.title</h1>
                <h2>Direcete by @item.director</h2>
                <h3>genre: @item.genres</h3>
                <h3>id: @item.movieid</h3>
                <h3>rating: @item.rating</h3>
                <h3>lenght @item.length minutes</h3>
                <h3>Release Date: @item.releasedate</h3>
                <h3>Is Available: @item.availability</h3>
            </div>
        }
    </div>
}