@model Library_project.ViewModels.CreateBookViewModel
@{
    ViewBag.Title = "CreateLandingPage";
}
<
    <p>@Model.title             </p>


    <p>@Model.author            </p>

    <p>@Model.isbn          </p>

    <p>@Model.pageCount         </p>
    <p>@Model.isAvailable         </p>
    <p>@Model.publishDate         </p>
    <p>@Model.genre.ToString()</p>




