@using Library_project.Data.Enums
@using Library_project.ViewModels.Book
@model CreateBookViewModel
@{
    ViewBag.Title = "CreateLandingPage";
}
<
<p>@Model.title             </p>


<p>@Model.author            </p>

<p>@Model.isbn          </p>

<p>@Model.pageCount         </p>
<p>@Model.isAvailable         </p>
<p>@Model.publishDate         </p>
<p>@Model.genre.ToString()</p>




