@model Library_project.ViewModels.ListBookViewModel;
@{
    ViewBag.Title = "Index";
}
@foreach(var item in Model.allBooks)
{
    <p>@item.bookId</p>
    <br/>
    <p>@item.title</p><br/>
    <p>@item.mediaId</p><br/>
    <p>@item.isAvailable</p><br/>
    <p>@item.isbn</p><br/>
    <p>@item.pageCount</p><br/>
    <p>@item.publicDate</p><br/>
    <p>@item.author</p><br/>
    <p>@item.genres</p><br/>
}