
@using Library_project.ViewModels.Student
@model ViewStudentVM
<ol>
    <li>First Name: @Model.fname</li>
    <li>card Number: @Model.library_card_number</li>
    <li>Last Name: @Model.lname</li>
    <li>Middle Name: @Model.mname</li>
    <li>Address: @Model.homeaddress</li>
    
    <li>email: @Model.email</li>
    <li>pn: @Model.phonenumber</li>
    <li>age: @Model.age</li>
    <li>fees: @Model.overdueFees</li>
</ol>