
@using Library_project.ViewModels.Student
@model ViewStudentVM
<ol>
    <li>@Model.fname</li>
    <li>@Model.library_card_number</li>
    <li>@Model.lname</li>
    <li>@Model.mname</li>
    <li>@Model.homeaddress</li>
    <li>@Model.birthday</li>
    <li>@Model.email</li>
    <li>@Model.phonenumber</li>
    <li>@Model.historianid</li>
    <li>@Model.overdueFees</li>
</ol>