@using Library_project.Data.Enums
@using Library_project.ViewModels.Journal
@model CreateJournalViewModel 

@{
    ViewBag.Title = "CreateJournalLandingPage";

}

<div class="media-display-card">
			<h1>@Model.title</h1>
			<h2>Written by @Model.researchers</h2>
            <h2>@Model.subject</h2>
            <h2>@Model.length</h2>
            <h2>@Model.releasedate</h2>
			
			<img src="~/images/book-cover-placeholder.png"/>
           
		</div>
