@using Library_project.Data.Enums
@using Library_project.ViewModels.Journal
@model JournalListViewModel;
@{
    ViewBag.Title = "Index";
}
<div>
    @foreach(var item in Model.allJournals)
    {

        <div class="media-display-card">
			<h1>@item.title</h1>
			<h2>Written by @item.researchers</h2>
            <h2>@item.subject</h2>
            <h2>@item.length</h2>
            <h2>@item.releasedate</h2>
			
			<img src="~/images/book-cover-placeholder.png"/>
            <h3>@item.journalid</h3>
		</div>
    }
</div>
<div>
    <a href="/Journal/CreateJournalView">Create a Journal</a>
</div>
